.tasks_card{
    border: none;
    border-radius: 15px;
    background: #f6f6f6;
}

.no_outline{
    border: none;
    background: #eaeaea;
    resize: none;
    color: #5b5b5b;
}

.no_outline:active, .no_outline:focus{
    border: none;
    background: #eaeaea;
    resize: none;
    outline: none;
    color: #5b5b5b;
}
